<div class="logo">Groepspas</div>
<div class="text-center">
    <p>Raadpleeg het saldo op je groepspas.</p>
    <div class="bg-danger" *ngIf="groupPassError">
        {{ groupPassError }}
    </div>
    <form>
        <div class="text-left"><label>UiTPAS-nummer</label></div>
        <div class="row">
            <div class="group-pass-number"><input name="groupPassNumber" type="text" [(ngModel)]="groupPassNumber" required></div>
            <div class="group-pass-submit"><button class="button" type="submit" (click)="getGroupPassInfo()"><i *ngIf="searching" class="fa fa-spinner fa-spin"></i><span *ngIf="!searching">Bevestigen</span></button></div>
        </div>
    </form>
    <div class="group-pass-info text-left" *ngIf="groupPassInfo">
        <div class="info-title"><label>INFORMATIE GROEPSPAS</label></div>
        <div>Naam groepspas: {{ groupPassInfo.name }}</div>
        <div *ngIf="!groupPassInfo.expired">
            <div *ngIf="groupPassInfo.kansenStatuut">
                <div>Kansenstatuut: Ja</div>
                <div>Aantal resterende beurten: {{ groupPassInfo.availableTickets }}</div>
                <div [hidden]="!groupPassInfo.endDate">Geldig tot: {{ groupPassInfo.endDate * 1000| stringToDate | date: 'dd/MM/yyyy'  }}</div>
            </div>
            <div *ngIf="!groupPassInfo.kansenStatuut">
                <div>Kansenstatuut: Nee</div>
                <div *ngFor="let coupon of groupPassInfo.ticketSaleCoupons">
                    <div class="coupon-name"><label>{{ coupon.name }}</label></div>
                    <ul>
                        <li>Aantal resterende bonnen: {{ coupon.remainingTotal.periodVolume }}</li>
                        <li [hidden]="!coupon.validTo">Geldig tot: {{ coupon.validTo * 1000 | stringToDate | date: 'dd/MM/yyyy' }}</li>
                        <li>{{ getExchangeInfoForCoupon(coupon) }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="groupPassInfo.expired">
            Kansenstatuut is vervallen.
        </div>
    </div>
    <p><small>Heb je vragen, of ondervind je problemen? <a href="mailto:info@uitpas.be">Contacteer ons</a>.</small></p>
</div>
